*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Libertinus Serif", serif;
}

body {
  margin: 0;
  background: #f5f5f5 url('https://www.transparenttextures.com/patterns/white-wall.png');
  background-size: cover;
  background-repeat: repeat;
  height: 1000px;
}



.logo{
    width: 100px;
    margin: 10px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar{
    display: flex;
    align-items: center;
    height: 10%;
    padding: 5px;
    justify-content: space-between;
    margin: auto;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    margin-right: 100px;
}

ul li{
    font-weight: bolder;
    text-decoration: none;
}

ul li a:hover{
    color: brown;
}
.info{
margin-top: 8%;
margin-left: 5%;
}

.info span{
    color: rgb(139, 18, 129);
    font-weight: 30px;
}

pre{
    text-decoration: wavy;
    margin: 0;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 25%;
}

.image img{
    position: absolute;
    height: 100%;
    left: 40%;
    transform: translate(-55%);
    transition: left 2s ease;
}

.image:hover .prsn{
    left: 55%;
}

.box{
    display: inline-block;
}

.box img{
    width: 350px;
    margin-left: 40px;
    padding: 10px;
}
.box img:hover{
    scale: 1.03;
    box-shadow: 3px 6px 8px black;
}

.h2{
    background-color: rgb(110, 110, 227);
    color: aliceblue;
    text-align: center;
    margin: 10px;
    margin-top: 200px;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.col{
    height: 450px;
    width: 303px;
    border: 3px inset brown;
    background: linear-gradient(rgb(222, 202, 202), rgb(62, 111, 55));
    background-size: 100% 200%;
    transition: all 2s;
}
.col:hover{
    background-position: left bottom;
    box-shadow: 2px 3px 4px black;
}

.col img{
    width: 250px;
}

.col h4{
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

.col p{
    text-align: justify;
    padding: 10px;
}

form{
    width: 500px;
    margin-left: 500px;
}

.input{
    width: 100%;
    margin: 5px;
    padding: 5px;
}

button{
    background-color: black;
    color: aliceblue;
    padding: 5px;
}

  .container{
    width: 1300px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
    margin: 0;
    gap: 60px;
  }
  
  .content img{
    width: 150px;
    justify-content: center;
    margin: 15%;
  }
  .card{
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
  }
  
  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  
  .card .face.face1 h2{
    margin: 0;
    padding: 0;
  }
  
  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
    
  }
  
  .card .face.face2{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }
  
  .card:nth-child(2) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }
  
  .card:nth-child(3) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }

  .card:nth-child(3) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }

  .card:nth-child(4) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }
  
  .card:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
  .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
  
  .card:hover .face.face2 h2{
    font-size: 2em;
  }

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(250, 199, 151); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}